* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html, body{
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    height: 100%;
    min-height: 100%;
    background-color: black;
    border-bottom: none;
    overflow: hidden;
}

main{
    background: #DEB887;
    height: 100%;
    width: 100%;
}

button{
    float: left;
    background: white;
    border: 1px solid maroon;
    font-weight: bold;
    height: 10%;
    width: 25%;
    margin-right: 2%;
}

#test_page{
    height: 100%;
    width: 100%;
    display: none;
}

#new_game_page{
    height: 100%;
    width: 100%;
    display: none;
}

// will need this later
#game_board{
    height: 80%;
    width: 80%;
    display: none;
}

#test_board{
    height: 100%;
    width: 100%;
    display: none;
}

#draw_board{
    height: 70%;
    width: 80%;
    margin-left: 10%;
}

.white_square{
    fill: rgb(255, 255, 255);
    stroke-width: 0.5%;
    stroke: rgb(0,0,0);
}

.brown_square{
    fill: rgb(101,67,33);
    stroke-width: 0.5%;
    stroke: rgb(0,0,0);
}

.white_circles{
    fill: rgb(255, 235, 205);
    stroke-width: 0.5%;
    stroke: rgb(0,0,0);
}

.brown_circles{
    fill: rgb(205,92,92);
    stroke-width: 0.5%;
    stroke: rgb(0,0,0);
}

#white_circle{
    fill: rgb(255, 255, 255);
    stroke-width: 0.5%;
    stroke: rgb(0,0,0);
}

rect{
    float: left;
    x: 0;
    y: 0;
}

svg{
    height: 100%;
    width: 100%;
}

#game_menu{
    height: 100%;
    width: 100%;
    display: block;
}

#info_div{
    height: 7%;
    width: 100%;
    margin-top: 20%;
    opacity: 0.9;
    display: none;
}

#inform_user{
    width: 50%;
    height: 90%;
    margin-left: 25%;
    background: rgb(68, 71, 75);
    color: rgb(233, 239, 52);
    font-weight: bold;
    font-size: 100%;
    border: grey 1px solid;
    border-radius: 10%;
    text-align: center;
}