* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html, body{
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    height: 100%;
    min-height: 100%;
    background-color: black;
    border-bottom: none;
    overflow: hidden;
}

main{
    //background: #DEB887;
    background-image: url("images/background.jpg");
    height: 100%;
    width: 100%;
}

button{
    float: left;
    background: white;
    border: 1px solid maroon;
    font-weight: bold;
    height: 10%;
    width: 25%;
    margin-right: 2%;
}

#new_game_page{
    height: 100%;
    width: 100%;
    display: none;
}

// will need this later
#game_board{
    height: 80%;
    width: 80%;
    display: none;
}

#top{
    height: 10%;
    width: 100%;
    background: rgb(139, 69, 19);
}

#test_board{
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    display: block;// need to change this back
}

#game_info{
    height: 7.5%;
    width: 100%;
    background: transparent; 
    display: block;
}

#player_1_info_div{
    margin-left: 9%;
    height: 100%;
    width: 41%;
    float: left;
    background: transparent;    
}

#player_2_info_div{
    height: 100%;
    width: 41%;
    float: left;
    background: transparent;     
}

.player_info_textarea{
    resize: none;
    border: 0;
    margin: 0;
    padding-top: 2%;
    height: 50%;
    width: 100%;
    resize: none;
    text-align: center;
    float: left;
    background: transparent;
    color: #ffe815;
}


#sign_up_page{
    background: black;
    width: 100%;
    height: 100%;
    display: none; // wil want to change this to none
}

#ugolki_sign_up{
    top: 0%;
    left: 0%;
    height: 100%;
    width: 49.5%;
    float: left;
    background: rgb(255, 235, 205);
}

#ugolki_login{
    top: 0%;
    //left: 50%;
    height: 100%;
    width: 49.5%;
    float: right;
    background: rgb(92, 64, 51);
}

#footer{
    //background: rgb(179, 89, 0);
    top: 90%;
    position: absolute;
    background: rgb(139, 69, 19);
    width: 100%;
    height: 10%;
}

#heading{
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    text-align: center;
    resize: none;
    //background: rgb(179, 89, 0);
    background: rgb(139, 69, 19);
    color: rgb(255, 179, 109);
    font-family: "Time New Roman", times, serif;
    font-weight: bolder;
}

#player_name{
    float: right;
    width: 24%;
    text-align: center;
    background: rgb(139, 69, 19);
    color: rgb(255, 179, 109);
    font-family: "Time New Roman", times, serif;
    font-weight: bolder;
    resize: none;
    margin-top: 2%;
}

/*#menu_img{
    width: 10%;
    float: left;
    height: 60%;
    padding-left: 2.5%;
    padding-top: 3%;
    //margin-top: 12.5%;
}

#players_img{
    width: 10%;
    float: left;
    height: 60%;
    padding-left: 5%;
    padding-top: 3%;
}

#new_game{
    width: 10%;
    float: left;
    height: 60%;
    padding-left: 5%;
    padding-top: 3%;
}*/

.footer_images{
    width: 10%;
    float: left;
    height: 60%;
    padding-left: 2.5%;
    padding-right: 7.5%;
    padding-top: 3%;
}

#draw_board{
    height: 65%;
    width: 82%;
    margin-left: 9%;
}

.white_square{
    //fill: rgb(255, 255, 255);
    fill: rgb(255, 211, 155);
    stroke-width: 0.5%;
    stroke: rgb(0,0,0);
}

.brown_square{
    //fill: rgb(101,67,33);
    fill: rgb(130, 72, 21);
    stroke-width: 0.5%;
    stroke: rgb(0,0,0);
}

.white_circles{
    fill: rgb(255, 235, 205);
    stroke-width: 0.5%;
    stroke: rgb(0,0,0);
}

.brown_circles{
    //fill: rgb(205,92,92);
    fill: rgb(92, 64, 51);
    stroke-width: 0.5%;
    stroke: rgb(0,0,0);
}

#white_circle{
    fill: rgb(255, 255, 255);
    stroke-width: 0.5%;
    stroke: rgb(0,0,0);
}

rect{
    float: left;
    x: 0;
    y: 0;
}

svg{
    height: 100%;
    width: 100%;
}

#game_menu{
    height: 100%;
    width: 100%;
    display: block;
}

#info_div{
    height: 7%;
    width: 100%;
    margin-top: 1%;
    opacity: 0.9;
    display: none;
}

#inform_user{
    width: 50%;
    height: 90%;
    margin-left: 25%;
    background: rgb(68, 71, 75);
    color: rgb(233, 239, 52);
    font-weight: bold;
    font-size: 100%;
    border: grey 1px solid;
    border-radius: 10%;
    text-align: center;
    resize: none;
}

#login_div{
    height: 70%;
    width: 100%;
}

#error_div{
    height: 19%;
    padding-top: 1%;
    background: rgb(139, 69, 19);
}

#login_error{
    height: 40%;
    width: 100%;
    margin-top: 2%;
    opacity: 0.9;
    display: none;
}

#login_error_textarea{
    width: 50%;
    height: 90%;
    margin-left: 25%;
    background: rgb(68, 71, 75);
    color: rgb(233, 239, 52);
    font-weight: bold;
    font-size: 100%;
    border: grey 1px solid;
    border-radius: 10%;
    text-align: center;
    resize: none;
}

.settings_buttons{
    width: 85%;
    height: 10%;
    margin-left: 10%;
    margin-top: 7.5%;
    background-color: transparent;
    border: none;
    color: rgb(242, 235, 67);
    opacity: 1;
    font-weight: bolder;
    font-size: larger;
    outline: none;
}

.settings_panel{
    top: 10%;
    left: 0%;
    position: absolute;
    height: 100%;
    width: 50%;
    //background: rgb(179, 89, 0);
    
    opacity: 0.9;
}

#general_settings{
    //background: rgb(139, 69, 19);
    background: rgb(241, 110, 3);
    display: none;
}

#move_options_panel{
    background: rgb(241, 110, 3);
    display: none;
}

#player_settings{
    background: rgb(14, 194, 164);
    display: none;
}

#colour_settings{
    //background: rgb(222,184,135);
    background: rgb(205,133,63);
    display: none;
}

#sound_settings{
    background: rgb(139, 69, 19);
    display: none;
}


#alter_player_1{
    display: none;
}

#alter_player_2{
    display: none;
}

#AI_settings{
    height: 100%;
    width: 100%;
    display: none;
}

#statistics_options{
    height: 100%;
    width: 100%;
    display: none;
}

.sign_up_text_area{
    background: white;
    resize: none;
    margin-left: 5%;
    width: 90%;
    font-weight: bolder;
    margin-top: 10%;
}

#sign_up_username{
    margin-top: 40%;
}

#login_username{
    margin-top: 40%;
}

.sign_up_button{
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
    text-align: center;
}

#game_over{
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    display: none;
}